<div *ngIf="order">
  <form [formGroup]="form" (ngSubmit)="saveOrder($event)">
    <h2>Order Details for {{order.OrderId}}</h2>
  	  <div>
	      <label>Id: </label>{{order.Order$.OrderId}}
      </div>

      <div>
        <label>Ship name: </label>
        <input type="text"
               formControlName="ShipName" [zeidonErrorElement]="shipnameError"
               placeholder="shipname"
        />
      </div>
      <div #shipnameError class="alert alert-danger" style="display:none"></div>

      <div>
        <label>Ship date: </label>
        <input type="date"
               formControlName="ShippedDate"
               useValueAsDate
        />
      </div>

      <h3>Shipped To</h3>

      <div formGroupName="Customer">
        <label>Contact Name: </label>
        <input type="text"
               formControlName="ContactName"
               [readonly]="true"
        />
      </div>

      <div>
        <label>Address </label>
        <p>{{order.Order$.Customer$.Address}}</p>
      </div>

      <h3>Products</h3>

      <table class="table table-striped">
          <thead>
              <tr>
                      <td>Product Name</td>
                      <td>Quantity</td>
                      <td>Unit Price</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detail of order.Order$.OrderDetail">
                  <td>{{detail.Product$.ProductName}}</td>
                  <td>{{detail.Quantity}}</td>
                  <td>{{detail.UnitPrice}}</td>
              </tr>
          </tbody>
      </table>

      <h3>Employee</h3>

      <div formGroupName="Employee">
        <label>Employee </label>
        <input type="text"
               formControlName="FirstName"
               [readonly]="true"
        />
        <input type="text"
               formControlName="LastName"
               [readonly]="true"
        />
      </div>

      <div>
        <button type="submit" class="btn btn-default" [disabled]="false">
            Save Order
        </button>
        <button type="button" class="btn btn-default" (click)="cancel()" >
            Cancel
        </button>
      </div>
  </form>
</div>

