<div>
  <button (click)="newOrder();">
      New Order
  </button>
</div>

<h2>Orders List</h2>
 <div>
  <label>Search: </label> <input [(ngModel)]="searchText" placeholder="search" />
 </div>
<button (click)="searchOrders()">Search</button>
<pagination [pagination]='pagination' (reloadPage)="loadPage()"></pagination>
<div *ngIf="orders && orders.isEmpty == false">
  <ul class="orders">
      <li *ngFor="let order of orders.Order"
        [class.selected]="order === selectedOrder"
        >
        <a [routerLink]="['/order', order.OrderId]"  class="col-1-4">
          <span class="badge">{{order.OrderId}}</span>
          <span class="shipdate">{{order.OrderDate | date: 'yyyy-MM-dd'}}</span>
          <span> {{order.ShipName}} </span>
        </a>
      </li>
  </ul>
</div>
