<div *ngIf="order">
  <form [formGroup]="form" (ngSubmit)="saveOrder($event)">
    <h2>Order Details for {{order.Order$.OrderId}}</h2>
  	  <div>
	      <label>Id: </label>{{order.Order$.OrderId}}
      </div>

      <div>
        <label>Ship name: </label>
        <input type="text"
               formControlName="ShipName" [zeidonErrorElement]="shipnameError"
               placeholder="shipname"
        />
      </div>
      <div #shipnameError class="alert alert-danger" style="display:none"></div>

      <div>
        <label>Ship date: </label>
        <input type="date"
               formControlName="ShippedDate"
               useValueAsDate
        />
      </div>

      <h3>Shipped To</h3>

      <div *ngIf="customerList; else showLoadingCustomers">
        <select (change)="onCustomerSelected($event.target.selectedIndex)">
          <option *ngFor="let customer of customerList.Customer"
            [value]="customer.CustomerId">{{ customer.CompanyName }}</option>
        </select>
      </div>
      <ng-template #showLoadingCustomers>
        Fetching customer data...
      </ng-template>

      <div formGroupName="Customer">
        <label>Contact Name: </label>
        <input type="text" formControlName="ContactName" />
        <p>
        <label>Contact Name: </label>
        <input type="text" formControlName="Address" />
      </div>

      <h3>Products</h3>

      <div *ngIf="order.Order$.OrderDetail.length > 0; else showProducts">
        <table class="table table-striped">
            <thead>
                <tr>
                  <td>Product Name</td>
                  <td>Quantity</td>
                  <td>Unit Price</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of order.Order$.OrderDetail">
                    <td>{{detail.Product$.ProductName}}</td>
                    <td>{{detail.Quantity}}</td>
                    <td>{{detail.UnitPrice}}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <ng-template #showProducts>
        Fetching product data...
      </ng-template>

      <h3>Employee</h3>

      <div *ngIf="order.Order$.Employee.length > 0; else showEmployees">
        <div formGroupName="Employee">
          <label>Employee </label>
          <input type="text"
                formControlName="FirstName"
          />
          <input type="text"
                formControlName="LastName"
          />
        </div>
      </div>
      <ng-template #showEmployees>
        Fetching employee data...
      </ng-template>

      <div>
        <button type="submit" class="btn btn-default" [disabled]="false">
            Save Order
        </button>
        <button type="button" class="btn btn-default" (click)="cancel()" >
            Cancel
        </button>
      </div>
  </form>
</div>

