<h2>Products</h2>

 <div>
  <label>Search: </label> <input [(ngModel)]="searchText" placeholder="search" />
 </div>
<button (click)="searchProducts()">Search</button>
<pagination [pagination]='pagination' (reloadPage)="loadPage()"></pagination>

<div *ngIf="products && products.isEmpty == false">
    <ul class="products">
        <li *ngFor="let product of products.Product"
            [class.selected]="product === selectedProduct" >
            <a [routerLink]="['/product', product.ProductId]"  class="col-1-4">
                <span class="badge">{{product.ProductId}}</span> {{product.ProductName}}
            </a>
        </li>
    </ul>
</div>

New Product:
<input #newProduct />
<button (click)="addProduct(newProduct.value); newProduct.value=''">
    Add Product
</button>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
