<div *ngIf="order">
  <h2>Order {{order.OrderId}}</h2>
	  <div>
	    <label>Id: </label>{{order.OrderId}}</div>
	  <div>
	    <label>Name: </label>
	    <input [(ngModel)]="order.ShipName" placeholder="name" [readonly]="true" />
	  </div>
	  
	  <div>
	    <label>Ship date: </label>
	    <input [(ngModel)]="order.ShippedDate" [readonly]="true" />
	  </div>
	  
      <h3>Shipped To</h3>
      <div>
        <label>Contact Name </label>
        <input [(ngModel)]="order.Customer.ContactName" [readonly]="true" />
      </div>
      <div>
        <label>Address </label>
        <input [(ngModel)]="order.Customer.Address" [readonly]="true" />
      </div>
      
      <h3>Sales Person</h3>
      <div>
        <label>Name </label>
        <input [(ngModel)]="order.Employee.FirstName + ' ' + order.Employee.LastName " [readonly]="true" />
      </div>
      <div>
        <label>Title </label>
        <input [(ngModel)]="order.Employee.Title" [readonly]="true" />
      </div>
      
	  <h3>Products</h3>
	  
		<table class="table table-striped">
    		<thead>
		        <tr>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Unit Price</td>
		        </tr>
		    </thead>
		    <tbody>
		        <tr *ngFor="let detail of order.OrderDetail">
		            <td>{{detail.Product.ProductName}}</td>
                    <td>{{detail.Quantity}}</td>
                    <td>{{detail.UnitPrice}}</td>
		        </tr>
		    </tbody>
		</table>
			  
  <button (click)="goBack()">Back</button>
</div>

